<!-- TODO: replace the contents of this file with your own html -->
<div class="scene-wrapper">
	<div id="search-fields">
		<div class="border-top">WHATCHA DRINKIN'?</div>
		<div class="border-middle">
			<div class="palm-list">
		   		<div class="palm-row single">
					<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
						<div class="title">
		      				<div x-mojo-element="TextField" id="q"></div>
						</div>
					</div>
				</div>
			</div>
			<div x-mojo-element="Button" id="goSearch" class="growlr-button"></div>
		</div>
		<div class="border-bottom"></div>
	</div>
	
	<div id="beer-list" x-mojo-element="List" ></div>
	<div id="no-results" style="display: none;">
		Sorry! No beers found matching that!
	</div>
</div>
