<!-- TODO: replace the contents of this file with your own html -->
<div class="scene-wrapper">
	<div id="search-fields">
		<div class="border-top" id="profile-title"></div>
		<div class="border-middle">
			<div class="beer-info-wrapper">
				<div id="beer-info-left">
					<img src="" width="48" height="48" id="user-image">
				</div>
				<div id="beer-info-right">
					<div id="user-name"></div>
					<div id="user-location"></div>
					<div id="user-bio"></div>
				</div>
				<br class="breaker">
			</div>
			
			<div class="beer-info-wrapper">
				<div id="total-checkins"></div>
				<div id="unique-beers"></div>
				<div id="created-beers"></div>
			</div>
		</div>
		<div class="border-bottom"></div>
	</div>
</div>

<div class="palm-scrim" id="venueScrim"></div>
