<!-- TODO: replace the contents of this file with your own html -->
<div>
	<div id="info-fields">
		<div class="border-top">BEER</div>
		<div class="border-middle">
			<div class="beer-info-wrapper">
				<div id="beer-info-left">
					<img src="" width="48" height="48" id="beer-image">
					<div id="beer-abv"></div>
					<div id="abv">ABV</div>
				</div>
				<div id="beer-info-right">
					<div id="beer-name"></div>
					<div id="beer-brewery" x-mojo-tap-highlight='momentary'></div>
					<div id="beer-style"></div>
				</div>
				<br class="breaker">
			</div>
			
			<div class="beer-info-wrapper">
				<div id="beer-average-rating"></div>
				<div id="beer-your-rating"></div>
				<br class="breaker">
			</div>
			
			<div class="beer-info-wrapper">
				<div class="beer-stat">
					<div class="beer-stat-title">TOTAL</div>
					<div class="beer-stat-num" id="beer-stat-total"></div>
				</div>
				<div class="beer-stat">
					<div class="beer-stat-title">UNIQUE</div>
					<div class="beer-stat-num" id="beer-stat-unique"></div>
				</div>
				<div class="beer-stat">
					<div class="beer-stat-title">MONTHLY</div>
					<div class="beer-stat-num" id="beer-stat-monthly"></div>
				</div>
				<div class="beer-stat">
					<div class="beer-stat-title">YOU</div>
					<div class="beer-stat-num" id="beer-stat-you"></div>
				</div>
				<br class="breaker">
			</div>
		</div>
		<div class="border-bottom"></div>
	</div>

	<div x-mojo-element="Button" id="goCheckin" class="growlr-button"></div>
	<div x-mojo-element="Button" id="goWishlist"></div>
  <br class="breaker">
</div>
